# Test server url
WEBUI_URL = http://localhost
# Test server port
WEBUI_PORT = 6881
# Test server username
WEBUI_USERNAME = admin
# Test server password
WEBUI_PASSWORD = adminadmin
# Directory for temporary test files
TEMP_DIR = .temp
# For testing, the temporary directory should be mirrored on the test server and
# the api wrapper. This is the path used on the server to find the files. If it
# is running as the same user on the same machine, it can be the same as `TEMP_DIR`
SERVER_TEMP_DIR = .temp
