# Test server url
url = http://localhost
# Test server port
port = 6881
# Test server username
username = admin
# Test server password
password = adminadmin
# Directory for temporary test files
temp_dir = .temp
# For testing, the temporary directory should be mirrored on the test server and
# the api wrapper. This is the path used on the server to find the files. If it
# is running as the same user on the same machine, it can be the same as `temp_dir`
server_temp_dir = .temp
